:root {
  --text-color: #555;
  --border-color1: #ddd;
  --border-color2: #ccc;
  --outline-color: #555;
  --box-background: #fff;
  --shadow-color1: #d9d9d9;
  --shadow-color2: #fff;
  --button-color: #bf55ec;
  --button-text-color: #fff;
}
