body {
  border: 0;
  font-family: "regular";
}

.box-card {
  padding: 30px;
  border-radius: 50px;
  background: var(--box-background);
  box-shadow: 20px 20px 60px var(--shadow-color1),
    -20px -20px 60px var(--shadow-color2);
}

#container {
  display: flex;
}

#form-area {
  width: 50%;
  border-right: 1px solid var(--border-color1);
  height: 100vh;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25vh auto;
}

#contact-form label {
  font-size: 22px;
  color: var(--text-color);
  margin-bottom: 5px;
}

#contact-form input[type="text"],
#contact-form input[type="tel"],
#contact-form input[type="email"] {
  font-family: "regular";
  font-size: 22px;
  padding: 10px;
  height: 25px;
  margin-bottom: 20px;
  border: 2px solid var(--border-color2);
}

#contact-form input[type="text"]:focus,
#contact-form input[type="tel"]:focus,
#contact-form input[type="email"]:focus {
  outline: 2px solid var(--outline-color);
  border: none;
}

#contact-form input[type="submit"] {
  background-color: var(--button-color);
  border: none;
  padding: 10px 20px;
  color: var(--button-text-color);
  font-family: "bold";
  font-size: 24px;
  width: 100px;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}

#contacts-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  align-items: center;
}

#contacts-area-title {
  font-family: "bold";
  color: var(--text-color);
}

#contacts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card {
  width: 80%;
  margin: 20px auto;
}

.contact-label {
  font-family: "bold";
  font-size: 22px;
  margin-right: 10px;
}

.contact-value {
  font-size: 22px;
}
