@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "regular";
    src: url(../fonts/NotoSansJP-Light.ttf);
  }

  @font-face {
    font-family: "bold";
    src: url(../fonts/NotoSansJP-ExtraBold.ttf);
  }

  body {
    @apply bg-slate-700;
  }
}

@layer components {
  .container {
    @apply flex flex-col space-y-8 text-white;
  }

  .card {
    @apply flex w-full bg-slate-500 rounded-md;
  }

  .thumb-area {
    @apply w-1/4 p-4;
  }

  .thumb {
    @apply w-full rounded;
  }

  .content-area {
    @apply w-3/4 p-4;
  }

  .metadata {
    @apply mb-1;
  }

  .key {
    @apply font-[bold] text-sm mr-2;
  }

  .value {
    @apply font-[regular] text-sm;
  }
}
