body {
  margin: 0;
}

#form-area {
  width: 40%;
  box-shadow: 10px 10px 30px #ccc;
  border-radius: 30px;
  margin: 50px auto;
}

#form-area form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#form-area label {
  font-family: "regular";
  font-size: 20px;
  margin: 10px 0;
}

#form-area input[type="number"] {
  height: 35px;
  width: 60%;
  margin-bottom: 20px;
  text-align: right;
  padding: 0 10px;
  font-family: "regular";
  font-size: 20px;
  border: 2px solid #aaa;
}

#form-area input[type="submit"] {
  background-color: #5a228b;
  font-family: "bold";
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
